body {
    background-color: slategrey;
}

.shell {
    background-color: crimson;
    width: 850px;
    padding-top: 40px;
    margin: 0 auto;
}

.container {
    display: flex;
    margin-inline: auto;
    height: 600px;
    width: 600px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.toy-button {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 18px;
}

#toy-name {
    font-family: cursive;
    font-style: italic;
    color: goldenrod;
    font-size: 50px;
    margin: 0;
}

.grid-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid-row {
    flex: 1;
    background-color: silver;
    outline: 0.5px solid lightgray;
}

.hover {
    background-color: black;
}